

<div class="container">
  <div class='col-sm-12'>

    <p id="notice"><%= notice %></p>
    <table class="table table-striped table-hover">
      <tbody>
        <% @trainings.each do |training| %>
         <%= render training%>
        <% end %>
      </tbody>
    </table>
    <%= paginate @trainings %>

  </div>
</div>