


<div class="container">
  <div class='col-sm-12'>
    <p id="notice"><%= notice %></p>
    <% @gt_races.each do |gt_race| %>
      <%= render "show", :gt_race => gt_race %>
    <% end %>
    <br>
    <% if admin_in? %>
    <%= link_to 'Nový závod', new_gt_race_path, class: "btn btn-success" %>
    <% end %>
  </div>
</div>
