


<div class="col-md-6 col-sm-offset-3">
  <h1><%= @category.try(:name) || "Celkové výsledky" %></h1>
    <table class="table table-striped table-hover">

    <% @result.each_with_index do |r,index| %>
    <tr>
      <td><%= index + 1 %>.</td>
      <td><%= link_to @users.find(r[0]).fullname, @users.find(r[0]) %></td>
      <td><%= r[1] %></td>
    </tr>
    <% end %>
  </table>
</div>

</div>