<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @challenge_category.name %>
</p>

<%= link_to 'Edit', edit_challenge_category_path(@challenge_category) %> |
<%= link_to 'Back', challenge_categories_path %>
