<div class="col-sm-12 col-xs-12 cal">
  <%= link_to (image_tag 'kalendar-logo.png', class: 'calendar'), reservations_path, class: "pulse_calendar" %>
</div>
<%# image_tag 'kruh.png', class: 'calendar_red' %>
  
<div class="col-sm-6 col-xs-6 gladiator">
  <div class="wrapper_glad">
    <%= image_tag 'gladiator_logo.png'%>
    <div class="texts">
      <h2>ÚTERÝ 19:00 - 20:00 <a href="https://goo.gl/maps/LtDrwqdvgbP2">Párty Klub</a></h2>
      <h2>PÁTEK 19:00 - 20:00 <a href="https://goo.gl/maps/LtDrwqdvgbP2">Párty Klub</a></h2>
    </div>
  </div>
</div>
<div class="col-sm-6 col-xs-6 predator">

  <div class="wrapper_pred">
      <%= image_tag 'predator_logo.png'%>
  <div class="texts">
     
    <h2>PONDĚLÍ 19:00 - 20:00 <a href="https://goo.gl/maps/q1Q6h5LJZfT2">HALA</a></h2>
    <h2>STŘEDA 19:00 - 20:00 <a href="https://goo.gl/maps/q1Q6h5LJZfT2">HALA</a></h2>
    <h2>ČTVRTEK 19:00 - 20:00 <a href="https://goo.gl/maps/q1Q6h5LJZfT2">HALA</a></h2>
    <h2>NEDĚLE 19:00 - 20:00 <a href="https://goo.gl/maps/q1Q6h5LJZfT2">HALA</a></h2>
  </div>
  </div>
</div>

<script>
$( document ).ready(function() {

});
</script>  