
<div id="week">
  <h2 style="color: red">Jelikož se lidi odlašovali z tréninků na poslední chvíli a trenéři připravovali trénink zbytečně. Doba kdy se NELZE odhlásit z tréninku byla zvýšena ze 40 minut na 24hodin před tréninkem. Pokud na trénink nedorazíte budete platit pokutu ve výši ceny tréninku. </h2>

  <table class='table table-striped table-hover'>
    <thead>
      <tr>
        <th>Den</th>
        <th>Datum</th>
        <th>Čas</th>
        <th>Místo</th>
        <th>Kapacita</th>
        <th>Minimum lidí</th>
        <th>Typ</th>
        <th colspan="4"></th>
      </tr>
    </thead>

    <% @reservations.group_by(&:week).each do |week, reservations| %>

    <tbody>
      <%= render partial: 'reservation', collection: reservations, :as => :reservation %>
    </tbody>
    <% end %>
  </table>
</div>
