<div class="container">
  <div class='col-sm-12'>

    <% if logged_in? %>
      <%= render 'index' %>
      <% if admin_in? %>
        <%= link_to 'Nová rezervace', new_reservation_path, class:"btn btn-success" %>
      <% end %>
    <% else %>
      <%= render 'sessions/new' %>
    <% end %>
  </div>
</div>