
<table>
<% @reservation.users.each_with_index do |all_users,index|%>
  <tr>
    <td> <%= index + 1%>.</td>
    <td> <%= all_users.first_name %> <%= all_users.surname %></td>
    <td> <%= (l all_users.created_at, format: :short) %></td>
  </tr>
<% end%>
</table>