.blog-post {
  background-color:#fff;
  p {
    font-size: 16px;
    line-height: 24px;
    color:#555;
    margin-bottom:20px;
  }
  h2{
    margin-bottom: 14px;
  }
}
.about_us_index{
 background-color:#fff;
 main{
   background-color:#fff;
 }
 p{
   font-family: Georgia, "Times New Roman", Times, serif !important;
   color: #555;
 }
}