.code_phone{
  width:50px;
  display: inline;
}
.phone{
  width: 70%;
  display: inline;
}
.zavodnik{
  border:1px solid grey;
}
.tdheader-gtreg{
  font-size:30px;
}
#error_explanation.form-group {
  border:0 ;
  width: auto;
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}
