.table > tbody{
  .FALSE{
    background-color:#f2dede;
    color:#000;
  }
  .red {background-color: red !important;}
  tr {
    .IS_MEMBER_CHILD_4{ background-color: #ffc733 }
    .IS_MEMBER_CHILD_9{ background-color: #148ad6 }
  }


  .IS_MEMBER, .TRUE{

    color:#000;
    // text-shadow: 2px 2px 0px #FF0000;
    background-color:#dff0d8 !important;
    // background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    // background-image: gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.3, #22f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
    // color:transparent;
    // -webkit-background-clip: text;
    // background-clip: text;

    //
    //       background: red; /* not working, let's see some red */
    // background: -moz-linear-gradient( top ,
    //     rgba(255, 0, 0, 1) 0%,
    //     rgba(255, 255, 0, 1) 15%,
    //     rgba(0, 255, 0, 1) 30%,
    //     rgba(0, 255, 255, 1) 50%,
    //     rgba(0, 0, 255, 1) 65%,
    //     rgba(255, 0, 255, 1) 80%,
    //     rgba(255, 0, 0, 1) 100%);
    // background: -webkit-gradient(linear,  left top,  left bottom,
    //     color-stop(0%, rgba(255, 0, 0, 1)),
    //     color-stop(15%, rgba(255, 255, 0, 1)),
    //     color-stop(30%, rgba(0, 255, 0, 1)),
    //     color-stop(50%, rgba(0, 255, 255, 1)),
    //     color-stop(65%, rgba(0, 0, 255, 1)),
    //     color-stop(80%, rgba(255, 0, 255, 1)),
    //     color-stop(100%, rgba(255, 0, 0, 1)));
    //   }
  }
}
