// Place all the styles related to the Reservations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table > tbody + tbody {
  border-top:0;
}
table{

  tbody::before
  {
    content: '';
    display: block;
    height: 30px;

  }
  .red{
    background-color: red;
  }

  tr{
    th{
      background-color: #fff;
    }
    .red{
      background-color: red;
    }
    .green{
      background-color: green;
    }
    .yellow {
      background-color: yellow;
    }

  }
}
$bila: #fff;
.reservations_index, .reservations_show {

  #week {
    background: $bila;
    display: table;
  }
  .red,.green{& a {color: $bila;}}
  td{
    text-align:center;
    a{text-decoration:underline;}
  }
  th{
    text-align:center;
  }
}
.reservations_show{
  main .container div{
    margin: 20px auto;
  }

}
.reservation{
  color:red !important;
}
.yellow_font{
  color:yellow !important;
}
.white_font{
  color:$bila !important;
}
