.link_stats{
  text-align:center;
}
.m1{
  background-color:#dff0d8;
}
.m2{
  background-color:#d9edf7;
}
.m3{
  background-color:#f2dede;
}
.bootstrap-table{
  .th-inner {
    text-align:center;
  }
}