

.sub-nav-container{
  background-color:yellow;
  background-color:#dcdcdc;
  ul li{
    a {color:black;}
  }
  .glyphicon{
    margin-right:5px;
  }
}
.new-training-click{
  .hidden_info{
    .field{
      width:50%;
      margin:0 auto;
    }
  }
  h1{
    font-size:15px;
  }
  form {
    text-align: center;
  }
  min-height: 220px;
  border:1px solid #dcdcdc;
  .info{
    text-align:center;

  }
}