.fb-image{
  display:none;
  background:red;
}
.welcome_index{
  background: image-url("gladiator_vs_predator_bg.jpg");
  .gladiator{
    background: image-url("gladiator.png") no-repeat ;
    background-position:left bottom;
  }
  .predator{
    background: image-url("predator.png") no-repeat;
    background-position:right bottom;
  }
  .gladiator, .predator{
    height:100vh;
    background-size: 70% auto;
    .wrapper_glad,.wrapper_pred{
      position:absolute;
      bottom:10%;
      width:50%;
      left:20%;
    }
  }
  .times{
    position: absolute;
    bottom: 30%;
    left: 50%;
    z-index: 1000;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
  }

  .texts{
    background-color: rgba(0,0,0,0.5);
    padding:10px 30px;
    h2{
      text-align:center;
       font-size: 1.2em;
      text-transform:uppercase;
      font-weight:bold;
      a{
        color:#fff;
        text-decoration:underline;
      }
    }
  }


  @media (max-width: 767px) {
     .gladiator, .predator{
       padding-left:0;
       padding-right:0;
       height:100vh;
       background-size: 100% auto;
       .wrapper_glad,.wrapper_pred{
         width:100%;
         left:0;
       }
     }
  }

  main{
    background:transparent;
    color:#fff;
    padding-left:0;
    padding-right:0;
    padding-bottom:0;
    @media (max-width: 767px) {
      .calendar{
        height:20em;
      }
    }
    @media (max-width: 480px) {
      .calendar{
        height:12em;
      }
      .texts{
        padding:1px;
        h2{
           font-size: 0.5em;
        }
      }
    }

    a{
      text-align:center;
      z-index: 100;
    }
    a:hover{
      background-color:transparent;
    }
    .cal{
      position:absolute;
      z-index:10;
      padding-top:20px;
    }
  }
}
