<div class="navbar subnav" role="navigation">
  <div class="navbar-inner">
    <div class="container sub-nav-container">
      <ul class="nav navbar-nav ">
        <li role=""><%= link_to gt_races_path do %><span class="glyphicon glyphicon-globe" aria-hidden="true"></span>Seznam závodů<% end %></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to  "https://www.facebook.com/events/320355035055499/?active_tab=discussion", target: "_blank", alt: "facebook" do %>
          <%= image_tag "fb_logo_black.png", width:"20px", class:'vertical-al'%>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
